body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   background-image: url(mountain.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   height: 100vh;
}
.hero{
 width: 300px;
 height: 180px;
 background-color: white;
 border-radius: 10px;
 padding-left: 100px;
 padding-top: 30px;

}
.model-overlay{
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(73, 166, 233, 0.5);
  place-items: center;
  visibility: hidden;
  z-index: -10;
}
.open-model{
  visibility: visible;
  z-index: 10;
}
.model-btn:hover{
  background: transparent;
  color:rgba(73, 166, 233, 0.5);
}
.model-btn{
  margin-left: 50px;
  border-radius: 7px;
  background-color: rgb(0, 162, 255);
  color: white;
}
.model-container{
  width: 400px;
 height: 150px;
 background-color: white;
 border-radius: 10px;
text-align: center;
padding-top: 70px;
position: relative;
margin-top: 260px;

}
.close-btn{
position: absolute;
top: 10px;
right: 10px;
background: red;
border-radius: 4px;
border: 1px solid white;
font-size: 1.5rem;
cursor: pointer;
  
}